site_name: Tildagon Badge Documentation
repo_url: https://github.com/emfcamp/badge-2024-documentation
theme:
  name: material
  logo: "images/badge icon_64 wide cutouts.svg"
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: teal

      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: teal
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
extra_css:
  - style.css
markdown_extensions:
  - attr_list
  - md_in_html
  - codehilite
  - fenced_code
  - admonition
  - pymdownx.details
  - pymdownx.superfences
plugins:
   - glightbox
   - mkdocs-nav-weight
   - include-markdown

