[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-glightbox = "*"
cairosvg="*"
social = "*"
mkdocs-nav-weight = "*"
mkdocs-include-markdown-plugin = "*"
flake8-markdown = "*"
neoteroi-mkdocs = "*"
mkdocs-spellcheck = "*"
codespell = "*"
mkdocs-minify-plugin = "*"

[dev-packages]

[requires]
python_version = "3.12"
